<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketFlow</title>
</head>
<body>
    <div style="border: 1px solid black; width: 98vw; height: 97.7vh;">
        
        <div style="border: solid 1px black; margin: 5px; width:fit-content; height:98%;float:left">
        <div style = "border: 1px solid black; margin:5px">
            <h1>logo</h1>
            
        </div>
        <div style = "border: 1px solid black; margin:5px">
            <h1>Home</h1>
            
        </div>
        <div style = "border: 1px solid black; margin:5px">
            <h1>Dashboard</h1>
            
        </div>
        <div style = "border: 1px solid black; margin:5px">
            <h1>Analysis</h1>
            
        </div>
        <div style = "border: 1px solid black; margin:5px">
            <h1>ask ai</h1>
            
        </div>
        <div style = "border: 1px solid black; margin:5px"> 
            <h1>About us</h1>
            
        </div>
        
        

    </div>
    <div style="border: 1px solid black; margin-left:12%; margin-top:0.7%;margin-right:1%;">
            <h1>Welcome back, Master Ojas!</h1>
        </div>
    <div style = "border: 1px solid black; margin-left:12%;margin-top:0.7%;margin-right:1%; height:85%">
    {% block content %}
    
    {% endblock %}

        
    </div>
    </div>
</body>
</html>
