{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Dashboard</title>
  <link rel="stylesheet" href = "{%static 'main/style.css'%}">
</head>
<body>
  <div class="sidebar">
    <h2>Dashboard</h2>
    <ul class="menu">
      <li>support</li>
      <li class="dropdownToggle">Tickets
        <ul class ="submenu">
          <li>Customer</li>
          <li>Ticket-list</li>
          <li>Custom-feild</li>
          <li>Support-Agents</li>
          <li>Email-Notification</li>
          <li>Report</li>
          <li>setting</li>
          <li>Customer-feedback</li>

        </ul>
      </li>

      <li>Reports</li>
    </ul>
  </div>
  <div class="main">
    <div class="topbar">
      <h3>Ticket List</h3>
      <h3>+New Ticket</h3>
      <h3>My Profile</h3>
      <h3>My Agent</h3>
    </div>
    <div class="control">
      <div class="left-control">
        <input type="text" placeholder="Search....." class="Search">
      </div>
      <div class="right-control">
        <select class="filter" >
          <option>All</option>
          <option>open</option>
          <option>closed</option>
          <option>Awaiting Customer</option>
          <option>Awaiting Agent</option>
        </select>
        <select class="Sort">
          <option>SLA</option>
          <option>Date</option>
          <option>Priority</option>
        </select>
        <button class="Apply-btn">Apply</button>
        <button class="Reset-btn">Reset</button>
      </div>
    </div>
    <div class="Table">
      <table class = "Ticket-Table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Subject</th>
            <th>Name</th>
            <th>Category</th>
            <th>SLA</th>
            <th>Date Updated</th>
          </tr>
        </thead>
        <tbody>
          {% for i in D%}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{i.Status}}</td>
            <td>{{i.Subject}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Category}}</td>
            <td>{{i.SLA}}</td>
            <td>{{i.Date_Update}}</td>
          
          </tr>
          {%endfor%}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <script src="{% static 'main/script.js' %}"></script>
  
</body>
</html>